.voting {
    padding: 20px;
    border-top: 5px solid #e7e3e3;
    border-left: 5px solid #e7e3e3;
    border-right: 5px solid #e7e3e3;
    color: #e7e3e3;
}

.voting h3 {
    margin: 0;
}

.voting label {
    display: block;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0 0 0;
}

@media (max-width: 800px) {
    .voting {
        width: 50%;
        box-sizing: border-box;
    }
}