.regularArticle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 5px solid #e7e3e3;
    border-top: none ;
    border-right: none ;
}

.Article {
    width: 50%;
}

.article {
    display: flex;
    flex-direction: column;
    border-top: 5px solid #e7e3e3;
    border-right: 5px solid #e7e3e3;
    height: 300px;
    width: 50%;
    box-sizing: border-box;
}

.img {
    height: 60%;
}

.text {
    padding: 5px 10px 0 10px;
}

.text h3 {
    margin: 0;
}

.text h3 a{
    text-decoration: none;
    color: #e7e3e3;
}

.text h3 a:hover{
    text-decoration: underline;
    color: #fff;
}

.text p {
    margin: 0;
}

.comments {
    margin: 5px 0 0 0;
    text-align: right;
}

@media (max-width: 800px) {
    .article {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .img {
        height: 40%;
    }
}

@media (min-width: 1100px) {
    .img {
        height: 60%;
    }
}



