.leaguetable {
    padding: 10px 0 10px 15px;
    color: #e7e3e3;
    border: 5px solid #e7e3e3;
}

.leaguetable h3 {
    margin: 10px 0;
}

.tableNum {
    border-right: 2px dashed #e7e3e3;
    text-align: center;
    padding: 0;
}

.tableTeam {
    border-right: 2px dashed #e7e3e3;
    padding-left: 2px;
}

.tableGames {
    border-right: 2px dashed #e7e3e3;
    text-align: center;
    padding: 0;
}

.tablePoints {
    text-align: center;
    padding: 0;
}

.center {
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 0;
    text-decoration: none;
    color: #e7e3e3;
}

.tableheader {
    padding: 0 2px;
}

.table {
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #e7e3e3;
}

.link:hover {
    text-decoration: underline;
    color: #fff;
}

@media (max-width: 800px) {
    .leaguetable {
        width: 50%;
        box-sizing: border-box;
    }
}